<div id="mapa"><p class="indicator">Cargando...</p></div>

<!-- Template Tooltip -->
<script id="tooltip-template" type="text/x-handlebars-template">
<!-- Seccion Direccion -->
<div class='detail-container'>
    <div class='popup-icon'>
        <span id='icon-dir'></span>
    </div>
    <div class='popup-content' id='content-dir'>
        <span id='direccion-obra'>\{{direccion}}</span>
    </div>
    <div class='clear'></div>
</div>

<!-- Seccion Desde/Hasta -->      
<div class='detail-container'>
    <div class='popup-icon'>
        <span id='icon-desde'></span>
    </div>
    <div class='popup-content' id='content-desde'>
        <div class='titulos'>
            <span class='desde'>Inicio de obra:</span>
            <span class='hasta'>Fin de obra:</span>
        </div>
        <div class='valores'>
            <span class='desde'>\{{fecha_inicio}}</span>
            <span class='hasta'>\{{fecha_fin}}</span>
            <div class="clear"></div>
        </div>
        <div class='explicativo clear'>
            <span>Las fechas son estimativas, considerando los factores externos que pueden afectar la obra.</span>
        </div>
    </div>
    <div class='clear'></div>
</div>

<!-- Seccion Estado -->      
<div class='detail-container'>
    <div class='popup-icon'>
        \{{#if finalizada}}
        <span id='icon-finalizada'></span>
        \{{else}}
        <span id='icon-estado'></span>
        \{{/if}}
    </div>
    <div class='popup-content' id='content-estado'>
        <div class='titulos'>
            <span>Estado:</span>
        </div>
        <div class='valores'>
            <span>\{{status}}</span>
            <div class="clear"></div>
        </div>
        <div class='titulos'>
            <span>Tipo de Obra:</span>
        </div>
        <div class='valores'>
            <span>\{{tipo_obra}}</span>
            <div class="clear"></div>
        </div>
    </div>
    <div class='clear'></div>
</div>

\{{#if finalizada}}
<span>Obra finalizada</span>
\{{/if}}

</script>

<div id="panel-informacion" class="informacion">
    <div class="content">
        <form role="form">
            <h3>Filtros</h3>
            <hr>
            <h4>Estado de las obras</h4>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Planificado" name="status_obra" checked>
                        Planificado
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="En ejecucion" name="status_obra" checked>
                        En ejecución
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Finalizado" name="status_obra" checked>
                        Finalizado
                    </label>
                </div>
            </div>

            <hr>
            <h4>Tipo de obras</h4>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Bacheo" name="tipo_obra" checked>
                        Bacheo
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Tapas" name="tipo_obra" checked>
                        Reposición de tapas
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Senalizacion" name="tipo_obra" checked>
                        Pintura y Señalización
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Materiales" name="tipo_obra" checked>
                        Retiro de Materiales
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Vereda" name="tipo_obra" checked>
                        Arreglos Vereda
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="Cordon" name="tipo_obra" checked>
                        Arreglos Cordón
                    </label>
                </div>
            </div>
        </form>

        <hr>

        <h4>En la comuna</h4>
        <div id="mapa-contenedor"></div>
    </div>
</div>

<script type="text/javascript">
// Definicion del namespace
var usig = usig || {};
usig.App = usig.App || {};

usig.App.config = {
    server_url: '//epok.buenosaires.gob.ar/',
    symbols_url: '/img/svg/icon-obras.svg',
    baseLayer: "mapabsas_informacion_basica",
    initBounds: [85000,96750,112000,106750],
    pointRadius: 18,
    minPointRadius: 11
};
</script>

<script type="text/javascript">
$(document).ready(usig.App.init);
</script>
<script type="text/javascript" src="js/mapa_caba.js"></script>