<html>
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="author" content="USIG (ASI - Gobierno de la Ciudad Autónoma de Buenos Aires)"/>

    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/estilosMapa.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/queue.v1.min.js"></script>
    <script type="text/javascript" src="js/topojson.v1.min.js"></script>
    <script type="text/javascript" src="js/usig.MapaInteractivo.min.js"></script>
    <script type="text/javascript" src="js/mantenimiento.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>